# Global (Exclude all + retain files that are unlikely to pollute local installs)
*
!*.keep
!*.md

# Requirements files
!/requirements/
!/requirements/*requirements*.txt
!/requirements/*conda*.yml

# Root files
!Dockerfile*
!.pylintrc
!setup.cfg
!.travis.yml
!/faceswap.py
!/setup.py
!/tools.py
!/update_deps.py

# Support files
!/.github/
!/.github/workflows/
!/.github/workflows/*.yml
!.install/
!.install/**
!config/
!.readthedocs.yml
!docs/
!docs/full**
!docs/_static**
!locales/
!locales/**
!tests/
!tests/**/
!tests/**/*.py

# Core files
!.fs_cache
!lib/
!lib/**/
!lib/**/*.py
!lib/gui/**/icons/*.png
!lib/gui/**/themes/default.json
!lib/gui/**/presets/**/*.json
!plugins/
!plugins/**/
!plugins/**/*.py
!scripts/
!scripts/*.py
!tools/
!tools/**/
!tools/**/*.py

# GUI Plugin Presets
!lib/gui/**/presets/train/model_phaze_a_dfaker_preset.json
!lib/gui/**/presets/train/model_phaze_a_dfl-h128_preset.json
!lib/gui/**/presets/train/model_phaze_a_dfl-sae-df_preset.json
!lib/gui/**/presets/train/model_phaze_a_dfl-sae-liae_preset.json
!lib/gui/**/presets/train/model_phaze_a_dfl-saehd-df_preset.json
!lib/gui/**/presets/train/model_phaze_a_dfl-saehd-liae_preset.json
!lib/gui/**/presets/train/model_phaze_a_iae_preset.json
!lib/gui/**/presets/train/model_phaze_a_lightweight_preset.json
!lib/gui/**/presets/train/model_phaze_a_original_preset.json
!lib/gui/**/presets/train/model_phaze_a_stojo_preset.json
