*
!setup.cfg
!*.css
!*.ico
!*.inf
!*.keep
!*.md
!*.nsi
!*.png
!*.py
!*.rst
!*.sh
!*.txt
!.cache
!Dockerfile*
!requirements*
!.install/
!.install/linux
!.install/windows
!docs
!docs/full
!docs/_static
!config/
!lib/
!lib/*
!lib/gui
!lib/gui/.cache/preview
!lib/gui/.cache/icons
!scripts
!plugins/
!plugins/*
!plugins/extract/*
!plugins/train/*
!plugins/convert/*
!.pylintrc
!tests
!tests/*
!tests/*/*
!tools
!tools/*
!_travis
!_travis/*
!.travis.yml
*.ini
*.pyc
__pycache__/
