tqdm>=4.62
psutil>=5.8.0
numpy>=1.18.0,<1.20.0
opencv-python>=4.5.3.0
pillow>=8.3.1
scikit-learn>=0.24.2
fastcluster>=1.1.26
# matplotlib 3.3.1 breaks custom toolbar in graph popup
matplotlib>=3.2.0,<3.3.0
imageio>=2.9.0
imageio-ffmpeg>=0.4.5
ffmpy==0.2.3
# Exclude badly numbered Python2 version of nvidia-ml-py
nvidia-ml-py">=11.450,<300"
pywin32>=228 ; sys_platform == "win32"
pynvx==1.0.0 ; sys_platform == "darwin"
