tqdm>=4.42
psutil>=5.7.0
pathlib==1.0.1
numpy>=1.18.0
opencv-python>=4.1.2.0
pillow>=7.0.0
scikit-learn>=0.22.0
fastcluster==1.1.26
# matplotlib 3.3.1 breaks custom toolbar in graph popup
matplotlib>=3.0.3,<3.3.0
imageio>=2.8.0
imageio-ffmpeg>=0.4.2
ffmpy==0.2.3
# Revert back to nvidia-ml-py3 when windows/system32 patch is implemented
git+https://github.com/deepfakes/nvidia-ml-py3.git
#nvidia-ml-py3
pywin32>=227 ; sys_platform == "win32"
pynvx==1.0.0 ; sys_platform == "darwin"
