cmake>=3.13
dlib==19.16.0
ffmpy==0.2.2
face_recognition
h5py==2.9.0
Keras==2.2.4
matplotlib==3.0.2
nvidia-ml-py3
opencv-python
pathlib
psutil
scandir
scikit-image
scikit-learn
tqdm

# tensorflow is included within the docker image.
# If you are looking for dependencies for a manual install,
#    you may want to install tensorflow-gpu==1.4.0 for CUDA 8.0,
#    or tensorflow-gpu>=1.6.0 for CUDA 9.0
#    or tf-nightly-gpu for CUDA 10.0
# NB: MTCNN will not work with tensorflow releases prior to 1.6.0
