tqdm
psutil
pathlib
numpy==1.16.2
opencv-python
scikit-image
scikit-learn
toposort
matplotlib==2.2.2
ffmpy==0.2.2
nvidia-ml-py3
h5py==2.9.0
Keras==2.2.4
cmake
dlib
face-recognition

# tensorflow is included within the docker image.
# If you are looking for dependencies for a manual install,

# NB: Tensorflow version 1.12 is the minimum supported version of Tensorflow.
#    If your graphics card support is below Cuda 9.0 you will need to either
#    compile tensorflow yourself or download a custom version.
#    Install 1.12.0<=tensorflow-gpu<=1.13.0 for CUDA 9.0
#    or tensorflow-gpu>=1.13.1 or tf-nightly-gpu for CUDA 10.0
