tqdm>=4.64
psutil>=5.8.0
numpy>=1.18.0
opencv-python>=4.5.5.0
pillow>=8.3.1
scikit-learn>=1.0.2
fastcluster>=1.2.4
matplotlib>=3.5.1
imageio>=2.9.0
imageio-ffmpeg>=0.4.7
ffmpy==0.2.3
# Exclude badly numbered Python2 version of nvidia-ml-py
#nvidia-ml-py>=11.510,<300
# Pin nvidida-ml-py to <11.515 until we know if bytes->str is an error or permanent change
nvidia-ml-py<11.515
typing-extensions
pywin32>=228 ; sys_platform == "win32"
