# TESTED WITH PY3.10
tqdm>=4.65
psutil>=5.9.0
numexpr>=2.8.4
numpy>=1.25.0
opencv-python>=4.7.0.0
pillow>=9.4.0,<10.0.0
scikit-learn>=1.2.2
fastcluster>=1.2.6
matplotlib>=3.7.1
imageio>=2.26.0
imageio-ffmpeg>=0.4.8
ffmpy>=0.3.0
pywin32>=228 ; sys_platform == "win32"
