tqdm==4.67.1
psutil==7.0.0
numexpr==2.14.1
numpy==1.26.4
opencv-python==4.11.0.86  # >=4.12 pulls in numpy2.x
pillow==9.4.0
scikit-learn==1.7.2
fastcluster==1.3.0
matplotlib==3.10.7
imageio==2.37.2
imageio-ffmpeg==0.5.1  # ffmpeg binary >=0.6.0 breaks convert.
ffmpy==0.3.0
pywin32==311 ; sys_platform == "win32"
