protobuf>= 3.19.0,<3.20.0  # TF has started pulling in incompatible protobuf
numpy>=1.21.0,<1.23.0
tensorflow-macos>=2.8.0,<2.10.0
tensorflow-deps>=2.8.0,<2.10.0
tensorflow-metal>=0.4.0,<0.6.0
libblas  # Conda only
