-r _requirements_base.txt
# tf2.2 is last version that tensorboard logging works with old Keras
protobuf>= 3.19.0,<3.20.0  # TF has started pulling in incompatible protobuf
tensorflow>=2.2.0,<2.3.0
plaidml-keras==0.7.0
