# NB Do not install from this requirements file
# It is for documentation purposes only

sphinx==5.0.2
sphinx_rtd_theme-1.0.0
tqdm==4.64
psutil==5.8.0
numpy>=1.18.0
opencv-python>=4.5.5.0
pillow==8.3.1
scikit-learn>=1.0.2
fastcluster>=1.2.4
matplotlib==3.5.1
imageio==2.9.0
imageio-ffmpeg==0.4.7
ffmpy==0.2.3
nvidia-ml-py<11.515
plaidml==0.7.0
tensorflow>=2.8.0,<2.9.0
tensorflow_probability<0.17
typing-extensions>=4.0.0
