# NB Do not install from this requirements file
# It is for documentation purposes only

sphinx>=6.0.0,<7.0.0
sphinx_rtd_theme==1.2.2
tqdm==4.65
psutil==5.9.0
numexpr>=2.8.7
numpy>=1.26.0
opencv-python>=4.9.0.0
pillow==9.4.0
scikit-learn>=1.3.0
fastcluster>=1.2.6
matplotlib==3.8.0
imageio==2.33.1
imageio-ffmpeg==0.4.9
ffmpy==0.3.0
nvidia-ml-py>=12.535,<12.536
pytest==7.2.0
pytest-mock==3.10.0
tensorflow>=2.10.0,<2.11.0
